.card_container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  overflow: hidden;
  margin: 15px 0 0 0;
  border-radius: 10px;
}

.card_img {
  min-height: 100%;
  min-width: 100%;
  transition: transform 0.8s;
}

.card_img:hover {
  transform: scale(1);
}
.game-price {
  margin-right: 10px;
}
