.card-label_container {
  position: absolute;
  right: 0;
  bottom: 90px;
}

.card-label_content {
  display: flex;
  align-items: center;
  background-color: #0d0d0d83;
  height: 40px;
  padding: 0 50px;
  color: #fff;
  font-weight: bold;
}
