.card-price_container {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  padding: 10px;
}
.card-price_title {
  margin-bottom: 3px;
}

.card-price_value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-console {
  display: flex;
}
.card-console > span {
  margin-left: 3px;
  color:aqua;
  font-weight: bold;
}
.card-console > p {
  margin-left: 5px;
}
