<div class="home_container">
  <app-jumbtron></app-jumbtron>

  <app-card cardImage="/assets/elder-ring.webp"></app-card>
  <app-card cardImage="/assets/ofertas.webp"></app-card>
  <app-card cardImage="/assets/roblox.webp"></app-card>
  <app-card cardImage="/assets/sports.webp"></app-card>

  <app-card cardImage="/assets/game.webp"></app-card>
  <app-card cardImage="/assets/sports2.webp"></app-card>
  <app-card cardImage="/assets/anime.avif"></app-card>
  <app-card cardImage="/assets/anime2.avif"></app-card>

</div>

