<div class="menu_top" >
  <div class="play-logo">
    <img
    src="/assets/playstation.png"
    alt=""
    width="20px"
    height="20px"

    >
  </div>

  <div class="menu_list_top">
    <ul>
      <li><a href="">Jogos<img src="/assets/icons8-arrow-ios-16-16.png" alt=""></a></li>
      <li><a href="">Hardware<img src="/assets/icons8-arrow-ios-16-16.png" alt=""></a></li>
      <li><a href="">Serviços<img src="/assets/icons8-arrow-ios-16-16.png" alt=""></a></li>
      <li><a href="">Notícias<img src="/assets/icons8-arrow-ios-16-16.png" alt=""></a></li>
      <li><a href="">Loja<img src="/assets/icons8-arrow-ios-16-16.png" alt=""></a></li>
      <li><a href="">Suporte<img src="/assets/icons8-arrow-ios-16-16.png" alt=""></a></li>

    </ul>
  </div>

  <div class="begin_button">
    <button><a href="">Iniciar Sessao</a></button>
  </div>

  <div class="lupa_icon">
    <img src="/assets/icons8-lupa.svg" alt="Lupa" height="25px" width="25px">
  </div>
</div>



<!-- second navbar -->
<div class="menu-bar_container" >

  <div class="menu_logo">
    <img
      src="/assets/ps-logo.png"
      alt=""
      max-width="25vw"
      height="42px"
      >
  </div>

  <div class="menu_list">
    <ul>
      <li><a href="">Novidades</a></li>
      <li><a href="">Coleções</a></li>
      <li><a href="">Ofertas</a></li>
      <li><a href="">PS5</a></li>
      <li><a href="">Assinaturas</a></li>
      <li><a href="">Navegar</a></li>

    </ul>
  </div>
</div>

